{% extends 'base.html' %}
{% block title %} 快樂T教育平台 {% endblock %}
{% block content %}
<section id="news">
    <div class="container">
        <div class="row ">  
            <div class="col-md-8 offset-md-2 text-center bord">
                <h2>時事政策</h2>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">日期</th>
                        <th scope="col">標題</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">單位</th>
                        <th scope="col">留言</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                        <th scope="row">1</th>
                        <td colspan="3">Larry the Bird</td>
                        <td>gov</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                留言
                              </button>
                              
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      ...
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}