{% extends 'base.html' %}
{% block title %} 快樂T教育平台 {% endblock %}
{% block script %}
<script>
    function checkPass(button) {
        let p1 =  document.getElementById("pass");
        let p2 =  document.getElementById("re-pass");

        if(p1.value == p2.value) {
            button.type = "submit";
        } else {
            alert("密碼與密碼確認欄位的輸入並不相符。\n請重新輸入");
            p1.value = "";
            p2.value = "";
            return;
        }
    }
</script>
{% endblock %}
{% block content %}
<section class="sign">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2><i class="fas fa-user-circle"></i>Sign up</h2>
                </div>
            </div>
        </div>
        
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 text-start">
                    <form action="{% url 'personal:saveAccount' %}" method="POST">
                        {% csrf_token %}
                        <br>
                        <p>使用者名稱</p>
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-mg" placeholder="Your Name" name="username" pattern="^[a-zA-Z][0-9a-zA-Z_]*" title="帳號名稱開頭不可為數字，且內容只可為英文大小寫其中不可含有特殊字元(除了底線_)" required>
                        </div>
                        <p>電子郵件</p>
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-mg" placeholder="Your Email" name="email" pattern="^\w+((-\w+)|(\.\w+))*[@][A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]{2,4}$" title="此電子郵件地址無效。請務必確認其格式為 example@email.com" required>
                        </div>
                        <p>密碼</p>
                        <div class="input-group input-group-md">
                            <input id="pass" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-mg" placeholder="Password" name="password" pattern="^((?=.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*|(?=.{8,}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!\u0022#$%&'()*+,./:;<=>?@[\]\^_`{|}~-]).*)" minlength="8" title="請最少輸入8位以上的大小寫英文與數字以及特殊符號" required>
                        </div>
                        <p>確認密碼</p>
                        <div class="input-group input-group-md">
                            <input id="re-pass" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-mg" placeholder="Repeat your password" pattern="^((?=.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*|(?=.{8,}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!\u0022#$%&'()*+,./:;<=>?@[\]\^_`{|}~-]).*)" minlength="8" title="請最少輸入8位以上的大小寫英文與數字以及特殊符號" required>
                        </div>
                        <br>
                        <input type="button" class="btn btn-success btn-lg" value="註冊" onclick="checkPass(this);">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        
    </div>
    <div></div>
</section>
{% endblock %}