{% extends 'base.html' %}
{% block title %} 快樂T教育平台 {% endblock %}
{% block content %}
<section id="join">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3>加入課程將會扣除5T幣，是否繼續?</h3>
                <a class="btn btn-primary btn-lg" href="#" role="button">是</a>
                <a class="btn btn-danger btn-lg" href="#" role="button">否</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}