{% extends 'base.html' %}
{% block title %} 快樂T教育平台 {% endblock %}
{% block content %}
<section id="intro">
    <div class="jumbotron">
        <div class="container">
          <div class="row">
                <div class="col-md-8">
                    <div class="inner">
                        <h1>快樂T教育平台</h1>
                        <p> quality education platform</p>
                    </div>               
                </div>
                <div class="col-md-4">
                    {% load static %}
                    <img src="{% static 'pic/icon.jpg' %}" alt="logo">
                </div>
          </div>
          <div class="row ">
              <div class="col-md-12 text-center">
                <p>快來快樂T，學習Quality</p>
              </div>
          </div>
        </div>
    </div>
</section>
<!--second third 輪播-->
<section id="second">
    
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% load static %}
                    <img src="{% static 'pic/class.jpg' %}" alt="pic1">
                </div>
                <div class="col-md-6">
                    <div class="center">
                        <h2>各式各樣的高質量課程</h2>
                        <p>只需擁有足夠的T幣就能免費加入課程。</p>
                        <a class="btn btn-primary btn-lg" href="{% url 'course:course' %}" role="button">查看課程</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>   
<section id="third"> 
        <div class="container">
            <div class="row">
                <div class="col-md-6 center">
                    <h2>不定期舉辦的營隊活動</h2>
                    <p>隨時關注我們</p>
                    <a class="btn btn-primary btn-lg" href="{% url 'camp:List' %}" role="button">尋找營隊</a>
                </div>
                <div class="col-md-6">
                    {% load static %}
                    <img src="{% static 'pic/camp.jpg' %}" alt="">
                </div>
            </div>
        </div>
</section>
<section id="fourth">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center ">
            <h2></h2>
            <h3>沒有代幣嗎?<span><a href="{% url 'course:problem' %}">快去幫別人解決問題吧！</a></span></h3>
        </div>
    </div>
</section>
{% endblock %}